.weather_screen_container {
  border: 2px solid white;
  width: 100%;
  height: 50%;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

.weather_cards_container {
  position: relative;
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  border: 2px solid white;
  width: 100%;
  height: 50%;
  padding: 1rem;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.horizontalLine {
  position: absolute;
  top: 50%;
  left: 0;
  background-color: red;
  width: 100%;
  height: 3px;
}

.main_container {
  width: var(--viewport-width);
  height: calc(var(--viewport-height) * 2);
}
