.container {
  height: 100%;
  min-height: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
  scrollbar-width: none;
  padding: 30px;

  perspective: 2000px;
  transform-style: preserve-3d;
  perspective-origin: center;
}

.chartContainer {
  color: white;
}
.chartWrapper {
  background-color: transparent;
  will-change: transform;
}
