.card {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    padding: 1rem;
    height: 230px;
    width: 350px;
    border-radius: 20px;
    font-size: 0.5rem;
    position: relative;
    background: linear-gradient(to left top, #42275a, #663e60d0);
    color: white;
}

.type {
    font-size: 1rem;
    text-transform: uppercase;
    margin: 0 0 0.3rem 0;
}

.chart {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.precipitation_general_data_container {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.span {
    display: block;
    font-size: 0.9rem;
}

.data_icon {
    padding: 0.4rem;
    /* border-radius: 9px; */
    background-color: rgba(48, 51, 73, 0.5) 50%;
    margin-right: 0.6rem;
    float: left;
    width: 30px;
    height: 30px;
    color: white;
}

.data_container {
    width: 134px;
    display: flex;
    font-size: 0.8rem;
    margin-right: 1.2rem;
    margin-bottom: 1.2rem;
    justify-content: center;
}

.text_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
